@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import 'variables.scss', 'recktangle.scss', 'list-item-style.scss';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: $font-color;
	text-align: center;
	font-weight: 300;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-color: $body-color;
}

.container {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	@media screen and (min-width: 1176px) {
		margin-left: calc((100vw - 380px * 3 - 36px) / 2);
	}
	@media screen and (min-height: 770px) {
		margin-top: calc((100vh - 770px) / 2);
	}
}

table {
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;
	width: 380px;
	height: 770px;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: $table-background-color;
	box-shadow: $box-shadow-color;
}

tr,
td {
	margin: 0px;
	padding: 0px;
}

.green-background {
	background-color: $theme-color-green;
}

.blue-background {
	background-color: $theme-color-blue;
}

.orange-background {
	background-color: $theme-color-orange;
}

.title {
	font-size: 35px;
	font-weight: 700;
}

.subtitle {
	margin-top: 0;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}

.price-card {
	&__title {
		height: 130px;
	}
	&__price {
		margin: 0;
		height: 105px;
		font-size: 55px;
		font-weight: 700;
		line-height: 105px;
		border: 0;
	}
	&__description {
		padding: 40px 30px;
	}
	&__order-btn {
		height: 40px;
		width: 155px;
		margin: 39px auto 37px;
		border-radius: 20px;
		border: none;
		font-weight: 400;
		font-size: 14px;
		color: $font-color;
		text-transform: uppercase;
	}
}
