$body-color: #141b1c;
$box-shadow-color: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$font-color: #fff;
$table-background-color: #334247;
$table-item-color: rgba(42, 52, 56, 0.5);
$theme-color-blue: #3a6ba5;
$theme-color-green: #5bb189;
$theme-color-orange: #ec632a;
$theme-color-red: #dc3f45;
